{
  "extends": ["standard"],
  "env": {
    "es6": true,
    "browser": true
  },
  "plugins": [
    "react"
  ],
  parser: "@babel/eslint-parser",
  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/jsx-curly-spacing": [2, "never"]
  }
}
