body {
  font-family: helvetica;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

.noscroll {
  overflow: hidden;
}

.full {
  width: 100%;
  height: 100vh;
}

.spread {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
}

.over-spread,
.over-spread > * {
  z-index: 2;
}

.bg-dark {
  color: #EEEEEE;
  background-color: #000000;
  background-color: rgba(0, 0, 0, .8);
}

.bg-light {
  color: #111111;
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, .8);
}

.transition-filter {
  transition: 200ms filter linear;
}

.blur {
  @include filter(blur, 5px);
}
