body {
  font-family: helvetica;
  font-size: 1em;
}

a {
  color: inherit;
  transition: color .2s;
  text-decoration: none;
}

.clearfix {
  &:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

.main {
  padding: 8vh 1em;
  @include medium-up {
    padding: 8vh 10%;
  }
}

.prose {
  max-width: 480px;
  a {
    font-weight: bold;
    color: $blue;
    &:hover {
      color: lighten($blue, 10%);
    }
  }

  p {
    line-height: 1.75;
    margin-bottom: 2em;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .section {
    &:after {
      margin-top: 1em;
      content: '----';
      display: block;
      text-align: center;
    }
  }
}

.main-title {
  @include title;
  line-height: 1.4em;
}

.section {
  margin-top: 2em;
  position: relative;
}

.section-title {
  @include small-title;
}

.section-img {
  width: 100%;
  margin-bottom: 1em;
}

.noscroll {
  overflow: hidden;
}

.full {
  width: 100%;
  height: 100vh;
}

.spread {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
}

.over-spread,
.over-spread > * {
  z-index: 2;
}

.bg-dark {
  color: #EEEEEE;
  background-color: #000000;
  background-color: rgba(0, 0, 0, .8);
}

.bg-light {
  color: #111111;
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, .8);
}

.bg-fixed {
  position: fixed;
  z-index: -1;
}

.yellow {
  color: #F5BA42;
}

.transition-filter {
  transition: 600ms filter linear;
}

.blur {
  @include filter(blur, 5px);
}

.inline-wrap {
  display: inline;
  white-space: pre-wrap;
}

p.inline-wrap {
  padding: 0.1em 0;
  line-height: 1.4em;
}
