.builds {
  max-width: 1200px;
  font-family: $nice-font;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.build-m {
  width: 100%;
  @include medium-up {
    width: 48%;
  }
}

.build-l {
  width: 100%;
  @include medium-up {
    padding: 0 10%;
    width: 80%;
  }
}

.build-image {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  background-size: cover;
  background-position: top left;
  height: 0;
  width: 100%;
  padding-bottom: 55%;
  filter: grayscale(80%);
}

.build-title {
  color: #111;
  line-height: $prose-line-height;
}

.build-description {
  color: #666;
  margin: 0.5em 0 3em;
}

.hover {
  .build-title {
    color: $blue;
  }

  .build-image {
    filter: none;
  }
}
