.image-credit-wrapper {
  bottom: 1em;
  right: 0;

  position: absolute;

  text-align: center;
  width: 100%;

  @include medium-up {
    right: 1em;
    text-align: left;
    width: auto;
  }
}

.image-credit {
  display: inline-block;
  padding: 0.135em 0.25em;
}

.home-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.greetings {
  margin: 10vh auto 0;
  width: 80%;
}

.greeting-row {
  margin: 0.5rem;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.greeting {
  @include title;
  padding-left: 0.135em;
  padding-right: 0.135em;
}

a.greeting {
  @include title-hover;
}
