.nav-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.nav-items {
  margin: 10vh auto 0;
  width: 80%;
}

.nav-row {
  margin: 0.135rem;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav-item {
  @include title;
  padding-left: 0.135em;
  padding-right: 0.135em;
}

.header-nav-item,
.nav-item-hover {
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: red;
  }
}

.header-nav {
  display: flex;
  flex-wrap: no-wrap;
}

.header-nav-items {
  margin: 1em;
}

.header-nav-item {
  font-weight: bold;
}
