.nav {
  display: flex;
  flex-wrap: no-wrap;
}

.nav-items {
  margin: 1em;
  display: inline-flex;
}

.nav-item {
  margin: 0 1em 0 0;
  padding: 0 0.135em;
  @include small-title;
  @include title-hover;
}
