.resume-split {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;

  .section-title {
    @include small-title;
    padding: 0 1em 1em 0;
  }
}

.resume-dl {
  em {
    color: $lightgray;
  }

  dd {
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }

  }
}
